body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .editor {
    flex: 1;
    background-color: #29303b;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0; 
    border-right: 1px solid #444; 
  }
  
  .output {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .code-input {
    flex: 1;
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    resize: none;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: auto;
    min-height: 200px;
  }
  
  .submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
.input-group {
  display: flex;
  align-items: center;
}

.input-box {
  flex: 1;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  text-align:justify;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 17px;
}


